.anuncio {
    padding: 150px 0 0 0;
    align-items: center;
    text-align: center;
}

.anuncio__sobre {
    font-size: 14px;
    font-weight: 500;
    color: var(--vermelho);
    border: 2px;
    border-radius: 20px;
    border: solid var(--cinza-clarinho);
    background-color: var(--cinza-clarinho);
    border-width: 5px 9px;
}

.anuncio__titulo {
    color: var(--azul-escuro);  
    font-size: 36px;
    font-weight:600;
    padding: 0.7em 0;
}

.anuncio__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    padding: 0 330px;
}

.anuncio__imagem {
    padding: 2em;
}