.banner {
    padding: 150px 0 0 0;
    align-items: center;
    text-align: center;
}

.banner__sobre {
    font-size: 16px;
    font-weight: 600;
    color: var(--vermelho);
}

.banner__titulo {
    color: var(--azul-escuro);  
    font-size: 48px;
    font-weight: 600;
    padding: 0.7em 0;
}

.banner__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    padding: 0 330px;
}