.feedback {
    padding: 150px 11em 0 11em;
    align-items: center;
    text-align: center;
    background-color: rgba(195, 25, 25, 0.03);
    margin: 6em 1em;
}

.feedback__sobre {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
}

.feedback__titulo {
    color: var(--azul-escuro);  
    font-size: 36px;
    font-weight:500;
    padding: 0.7em 0;
}

.feedback__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    padding: 0 330px;
}

.feedback__dev {
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--azul-escuro);
    padding: 5px 0px 4px 0px;
}

.feedback__dev__funcao {
    align-items: center;
    text-align: center;
    padding-bottom: 5em;
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-claro);
}