.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }
  
.cabecalho__link {
    color: var(--cinza-claro);
    text-decoration: none;
    margin-right: 2rem;
  }
  
  .cabecalho__link__cadastro {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--cinza-claro);
    font-size: 0.9rem;
    text-decoration: none;
    background-color: var(--vermelho);
    color: var(--branco);
  }
