@import url(../styles/header.css);
@import url(../styles/banner.css);
@import url(../styles/metricas.css);
@import url(../styles/anuncio.css);
@import url(../styles/vagas.css);
@import url(../styles/feedback.css);
@import url(../styles/rodape.css);


:root {
    --branco: #ffffff;
    --vermelho: #8e2424;
    --cinza-claro: #667085;
    --cinza-clarinho: #e5e5e5;
    --cinza-muito-claro: #F9FAFB;
    --azul-escuro: #101828;
    --fonte-principal: "inter";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--azul-escuro);
  }
